body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    max-width: 1296px;
    margin: 0 auto;
}

.main {
    flex: 1;
}

.wrapper--main {
    display: flex;
}

.menu {
 flex: 1 30%;
}

.content {
    flex: 1 70%;
}

.todo{
    display: flex;
    justify-content: space-between;
}

/* Modal */

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(23, 23, 23, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body {
    background-color: #fff;
    width: 50%;
    height: 50%;
    position: relative;
}

.modal-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}